@use '../settings/tokens' as *;

@mixin focus-ring($color: rgba(var(--accent-rgb) / .25), $size: 3px) {
  outline: 2px solid transparent;
  box-shadow: 0 0 0 $size $color;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin transition($props: all, $time: .35s, $ease: ease) {
  transition: #{$props} #{$time} #{$ease};
}

@mixin respond-max($bp) {
  @media (max-width: $bp) {
    @content;
  }
}

@mixin respond-max($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}
